body {
  align-items: center;
}
.container-fluid{
  margin-left: 0%;
  margin-right: 0%;
}
.content-wrapper{
  width: 100%;
}
.content-wrapper img{
  width:100%;
}
.text-wrapper{
  background-image: url(../images/h_img.jpg);
  background-size: 100%;
  text-align: center;
  color: white;
  padding-top: 10%;
  padding-bottom: 5%;
}
#logo {
  margin-bottom: 40px;
}
#mouse{
  margin-top: 10%;
  margin-bottom: 8%;
}
#aboutus{
  padding-top: 60px;
  padding-bottom: 50px;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}
.service{
  background-image: url(../images/s_image.jpg);
  color: white;
  background-size: 100%;
  text-align: center;
  position: center;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#service{
  padding-top: 100px;
  padding-bottom:100px;
  margin-top: 30px;
  margin-bottom: 30px;
}
#what-we-do{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.design1{
  font-size: 20px;
}
#design-p{
  display: none;
}
.des-icon{
  margin-top: 30px;
}
.development{
  margin-top: 30px;
}
.development1{
  font-size: 20px;
}
#development-p{
  display: none;
}
.prod-management{
  margin-top: 15px;
}
.prod1{
  font-size: 20px;
}
#prod-p{
  display: none;
}
#portfolio{
  text-align: center;
}
#portfolio2{
  margin-bottom: 20px;
  margin-bottom: 40px;
}
.text-wrapper1{
  background-image: url(../assets/backgrounds/c_image.jpg);
  background-size: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.text{
  width:800px;
  height:250px;
  background-color: transparent;
  margin-left: 10%;
}
.contact-us{
  color: white;
  text-align: center;
  margin-top: 20px;
}
#name , #name::placeholder{
  background-color: transparent;
  margin-bottom: 20px;
  color: white;
}
#email , #email::placeholder{
  background-color: transparent;
  margin-bottom: 20px;
  color: white;
}
#email , #name{
  margin-left: 23%;
}
#form1{
  margin-left: 100px;
  width: 800px;
}
#submit{
  margin-left:48%;
  margin-top: 20px;
}
::placeholder{
  color: white;
}
.socials{
  align-items: center;
  margin-left: 20px;
}
.col{
  margin-left: 26%;
  margin-top: 30px;
  margin-bottom: 20px;
}
#work4-p p{
  display: none;
}
footer{
  text-align: center;
}
.work4,.work3,.work2,.work1,.work5,.work6,.work7,.work8{
  display: none;
  background-color: black;
  color: white;
  opacity: 0.5;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 90%;
}
#portfolio1 , #portfolio2{
  padding-top: 3%;
}
/* media queries */
@media screen  and  (max-width:980px)  {
  .container{
    width:100%;
    margin-bottom:10px;
    background-size: cover;
  }
  .text{
    width: 80%;
    margin-top: 10px;
  }
  #form1{
    width:100%;
    margin-top: 10px;
    background-size: cover;

  }
  #portfolio1 , #portfolio2{
    margin-bottom: 10px;
  }
  #work4,#work3,#work2,#work1,#work5,#work6,#work7,#work8{
    margin-bottom: 10px;
  }
  .text-wrapper{
    width: 100%;
    background-size: cover;
    justify-content: center;
  }
  #aboutus{
    width:100%;
  }
  #service{
    width:100%;
    background-size: cover;
    justify-content: center;
  }
  .socials{
    width:100%;

  }
  #email ,#name {
    width:50%;
    justify-content: center;
  }
  #text{
    width:50%;
  }
}
