body {
  align-items: center;
}
.container-fluid{
  margin-left: 0%;
  margin-right: 0%;

}
.content-wrapper{
  width: 100%;
}
.content-wrapper img{
  width:100%;
}
.text-wrapper{
  background-image: url(../images/h_img.jpg);
  background-size: cover;
  text-align: center;
  color: white;
  padding-top: 10%;
  padding-bottom: 5%;
}
#logo {
  margin-bottom: 40px;
}
#mouse{
  margin-top: 10%;
  margin-bottom: 8%;
}
#aboutus{
  margin-bottom: 20px;
  text-align: center;
}
.service{
  background-image: url(../images/s_image.jpg);
  color: white;
  background-size: cover;
  text-align: center;
  position: center;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#what-we-do{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.design1{
  font-size: 20px;
}
#design-p{
  display: none;
}
#design-icon{
  margin-bottom: 20px;
  margin-top: 30px;
}
.development{
  margin-top: 30px;
  margin-bottom: 30px;
}
.development1{
  font-size: 20px;
}
#development-p{
  display: none;
}
.prod-management{
  margin-top: 15px;
  margin-bottom: 30px;
}
.prod1{
  font-size: 20px;
}
#prod-p{
  display: none;
}
#portfolio{
  text-align: center;
}
#portfolio-images{
  margin-bottom: 20px;
}
#portfolio-images2{

}
#work1{

}
.text-wrapper1{
  background-image: url(../assets/backgrounds/c_image.jpg);
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 20px;
}
.text{
  width:615px;
  height:409px;
  background-color: transparent;
  margin-left: 25%;
}
.contact-us{
  color: white;
  text-align: center;
}
#name{
  background-color: transparent;
  margin-bottom: 20px;
}
#email{
  background-color: transparent;
  margin-bottom: 20px;
}
